<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Games</title>
</head>
<body>

    <h1>List of Games</h1>

    <span data-th-unless="${previous lt 0}">
        <form data-th-action="@{/}" method="get">
            <input type="hidden" name="offset" data-th-value="${previous}">
            <input type="submit" data-th-value="'Previous ' + ${limit}">
        </form>
    </span>
    
    <form data-th-action="@{/}" method="get">
        <input type="hidden" name="offset" data-th-value=${next}>
        <input type="submit" data-th-value="'Next ' + ${limit}">
    </form>

    <h3 data-th-each = "g : ${games}">
        <a data-th-href="@{/game/{gid}(gid=${g.gameId})}">
            <span data-th-text="${g.name}"></span>
        </a>
    </h3>
    
</body>
</html>